



 h1 {
  text-align: center;
  font-family: Bebas Neue;
  letter-spacing: 8px;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #222;
  padding: 15px 15px;
  font-size: 50px;
  color: white;
  border: 1px solid white;
 }



 #body {
  background-color: white;
  margin: 0;
}


* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 20px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #222;
}


.caption-container {
  text-align: center;
  font-family: Alatsi;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #222;
  padding: 5px 15px;
  font-size: 25px;
  color: white;
  border: 1px solid white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  text-align: center;
  float: left;
  margin-top: 20px;
  width: 20%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*--------- All above CSS is for index page ------*/
 

.home {
  color: white;
  text-decoration: none;
  font-size: 40px;
  padding: 5px;
  text-decoration: none;
  background-color: black;
  color: white; 
  border-radius: 20px;
}

h2 {
  color: black;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.example {
  color: black;
  display: block;
  font-size: 30px;
  padding-left: 50px;
  text-decoration: underline;
  text-underline-position: under;
  letter-spacing: 2px;
  font-weight: bold;
}

.text {
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
}



ul {
  list-style-type: none;
}


li {
  font-size: 24px;
  padding: 5px
}

span {
  font-weight: bold;
}

.hero {
  font-size: 25px;
  text-align: center;
  font-style: italic;
}

.yoda {
  padding: 5px;
}

.vid {
  padding: 5px;
}
